[submodule "Code/External/Assimp/Repo"]
	path = Code/External/Assimp/Repo
	url = https://github.com/ZeroEngineProject/assimp.git
    branch = zeroengine
[submodule "Code/External/Curl/Repo"]
	path = Code/External/Curl/Repo
	url = https://github.com/ZeroEngineProject/curl.git
    branch = zeroengine
[submodule "Code/External/FreeType/Repo"]
	path = Code/External/FreeType/Repo
	url = https://github.com/ZeroEngineProject/freetype.git
    branch = zeroengine
[submodule "Code/External/Glew/Repo"]
	path = Code/External/Glew/Repo
	url = https://github.com/ZeroEngineProject/glew.git
    branch = zeroengine
[submodule "Code/External/Libgit2/Repo"]
	path = Code/External/Libgit2/Repo
	url = https://github.com/ZeroEngineProject/libgit2.git
    branch = zeroengine
[submodule "Code/External/Libpng/Repo"]
	path = Code/External/Libpng/Repo
	url = https://github.com/ZeroEngineProject/libpng.git
    branch = zeroengine
[submodule "Code/External/Nvtt/Repo"]
	path = Code/External/Nvtt/Repo
	url = https://github.com/ZeroEngineProject/nvidia-texture-tools.git
    branch = zeroengine
[submodule "Code/External/Opus/Repo"]
	path = Code/External/Opus/Repo
	url = https://github.com/ZeroEngineProject/opus.git
    branch = zeroengine
[submodule "Code/External/Scintilla/Repo"]
	path = Code/External/Scintilla/Repo
	url = https://github.com/ZeroEngineProject/scintilla.git
    branch = zeroengine
[submodule "Code/External/SDL/Repo"]
	path = Code/External/SDL/Repo
	url = https://github.com/ZeroEngineProject/SDL.git
    branch = zeroengine
[submodule "Code/External/SpirvCross/Repo"]
	path = Code/External/SpirvCross/Repo
	url = https://github.com/ZeroEngineProject/SPIRV-Cross.git
    branch = zeroengine
[submodule "Code/External/SpirvHeaders/Repo"]
	path = Code/External/SpirvHeaders/Repo
	url = https://github.com/ZeroEngineProject/SPIRV-Headers.git
    branch = zeroengine
[submodule "Code/External/SpirvTools/Repo"]
	path = Code/External/SpirvTools/Repo
	url = https://github.com/ZeroEngineProject/SPIRV-Tools.git
    branch = zeroengine
[submodule "Code/External/ZLib/Repo"]
	path = Code/External/ZLib/Repo
	url = https://github.com/ZeroEngineProject/zlib.git
    branch = zeroengine
